<%- include('../partials/header.ejs', { title: 'About' }) %>
<h1>About Us</h1>
<p>NOVATECH Today is recognized as a leading provider of Engineering, Procurement, Construction (EPC) services to Power, Chemicals, Paints, Fertilizers, Pharmaceuticals, Petro-chemicals, Refineries, Oil & Gas and Allied industries. Starting out in the 1980’s NOVATECH has grown into a major player in the industrial sector in India. Always looking at the future, NOVATECH has its fingers firmly entrenched in the growth story of the new industrial dynamics of India. Diverse engineering disciplines of manufacturing products, processes and technologies have enabled NOVATECH to provide state of the art engineering solutions that are robust, reliable and cost-effective.</p>
<p>For Ease of Operations NOVATECH has three Engineering Verticals

    Process Equipment Division NOVATECH expertise in the manufacture and supply the entire range of process equipments including Pressure Vessels, Heat Exchangers, Columns, Reactors, Agitators, Storage Tanks, Cellar Skids, Structures, Boiler Parts, SILOS and so on for its end-users.
    
    Structural Division NOVATECH also has full fledge facility to fabricate Steel Structures in-house at its two State of Art facilities at West Bengal - one in Naihati (Kalyani) and other in Midnapur (E) near Haldia Port.
    
    Projects Division NOVATECH has its own in-house resources and facilities to offer a whole variety of services from Shop Fabrication of Tanks and Skids to on-site Tank Fabrication in addition to installation services on site for Mechanical & Electrical requirements.
    
    Novatech Agro Products India Pvt Ltd is a trusted hub from where a potential buyer can avail a delectable range of Indian Rice. We are renowned Manufacturer, Exporter, and Supplier of Broken Rice, IR36 Rice, IR64 Rice, Miniket Rice, Parboiled Rice, Swarna Rice and Rice Bran. We have dedicated quality control set-up in compliance with recognized Food Safety Standards. Since our inception, we have been consistently developing at a remarkable pace which helped us to scale annual turnover of more than 100 Crore which depicts our financial stability.</p>

<%- include('../partials/footer.ejs') %>
